.footer {
    position: fixed;
    bottom: 0;
    /* width: 100%; */
    height: 4%;
    line-height: 20px;
    color: #fff;
    font-family: 'calibri';
    font-size: 14px;
  }

  nav {
    display: flex;
  }
  