<nav class="navbar navbar-expand-sm bg-top-nav navbar-dark">
    <a class="navbar-brand" style="color:white"><img class="imgResize" src="../../assets/1200px-Credit_One_Bank_logo.svg.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto" id="horizontal-list">
            <li class="nav-item fontWeight" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['strategy']" style="padding-right:20px">STRATEGY </a>
            </li>
            <li class="nav-item fontWeight" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['operation']" style="padding-right:20px">OPERATIONS</a>
            </li>
            <li class="nav-item fontWeight" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['search']" style="padding-right:20px">SEARCH</a>
            </li>

        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <i class="fa fa-power-off fa-lg" (click)="onLogout()" style="padding-top:5px;color:white; cursor: pointer;"></i>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>