ul#horizontal-list {
  min-width: 463px;
  list-style: none;
}

ul#horizontal-list li {
  display: inline;
}

.bg-top-nav {
  /* background: rgb(69, 77, 189); */
  /* background: -moz-linear-gradient(133deg, rgba(103, 215, 190, 1) 15%, rgba(58, 139, 136, 1) 40%, rgba(51, 65, 68, 1) 100%); */
  /* background: -webkit-linear-gradient(133deg, rgba(103, 215, 190, 1) 15%, rgba(58, 139, 136, 1) 40%, rgba(51, 65, 68, 1) 100%); */
  background: linear-gradient(160deg, #c3cad0 20%, #2776b0 43%, #04192a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#67d7be", endColorstr="#334144", GradientType=1);
}

.nav a:hover {
  color: #ffffff;
}

.fontWeight {
  font-weight: 500;
}

.imgResize {
  width: 124px;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -8px;
}
