/* css for iFrame */
.frame {
  height: calc(100% - 60px);
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* css for main page */

#searchBox {
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

/* Webkit for firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.searchIcon {
  float: right;
  margin-right: 27px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
  color: #aba6a6;
}

.card-header-config {
  background-color: #f7f7f7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 500;
  color: #7d7d7c;
}

.thead-config {
  line-height: 1;
  font-weight: 500;
  background-color: #f3f3f3;
  color: #7d7d7c;
  font-size: 13px;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 0px;
}

.table td,
.table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 0px;
}
