<div class="container-fluid" style="padding-right: 0px;padding-left: 0px;">
    <div class="card" style="border:none;border-radius:0px">

        <div class="card-header" style="height: auto;background-color: #f9fbfc">
            <div class="row">
                <div class="col">
                    <span class="float-left" style="font-size: 29px;font-weight: 500;">Call Search</span>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div id="searchBox">
                <form [formGroup]='searchNumber' (ngSubmit)="onSubmit(searchNumber.value,searchNumber.valid)">
                    <input type="number" [value]="user" (keydown)="onKeydown($event)" class="form-control ds-input advancedSearchTextbox" id="search-input" placeholder="Search by phone.." autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false"
                        dir="auto" style="position: relative; vertical-align: top;" id="userid" formControlName="phone_number" style="border-radius:31px;background-color: #f7f7f7;">
                    <span class="fa fa-search searchIcon"></span>
                </form>
            </div>
            <div class="card" *ngIf="display_table === true" style="margin: auto;width: 50%;border-radius:5px;">
                <div class="card-header card-header-config">
                    Call Search Details
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead style="background-color: #ececec">
                            <tr class="thead-config">
                                <th scope="col">Card Id</th>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Last Contacted Date</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of callSearchData" (click)=redirect(i) style="cursor:pointer">
                                <td style="color: blue">{{i.CARD_ID}}</td>
                                <td>{{i.NAME_OF_CUSTOMER}}</td>
                                <td>{{i.LAST_CONTACTED}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card" *ngIf="display_noRecords === true" style="color: #c36565;font-size: 23px;border: 0px solid  transparent;margin: auto;margin-top:86px;width: 50%;border-radius:5px;">
                No Records Found
            </div>
        </div>
    </div>
</div>