<div class="body" style="display:flex"></div>
  <!-- <div class="grad"></div> -->
 

  <div class="login" style="justify-content:center">
      <img src="../../assets/Credit_One_Bank.png" class="img-fluid img-responsive" style="height: auto;width: 250px;margin-top: 10px; margin-bottom: 22px;">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value,loginForm.valid)" style="margin: 18px;">
      <div class="form-group">
        <input type="text" formControlName="username" (keypress)="_keyPress($event)" class="form-control  inp input_style"
          placeholder="Username" />
        <small style="color: #ec4401" *ngIf="(formErrors && !submitted)"> Special characters are not allowed</small>
        <small [hidden]="loginForm.controls.username.valid || (loginForm.controls.username.pristine && !submitted)"
          style="color: #ec4401">Enter
          your username </small></div>
      <div class="form-group">
        <input type="password" formControlName="password" class="form-control inp input_style" placeholder="Password" /><small
          [hidden]="loginForm.controls.password.valid || (loginForm.controls.password.pristine && !submitted)" style="color: #ec4401">Enter
          your password </small> </div>
      <div class="form-group"> <small *ngIf="loginStatus" style="color: #ec4401">The username/password you entered
          is incorrect</small> </div>
      <div class="form-group">
        <input type="submit" [disabled]="loading" class="form-group login-button login-text" value="Login">
      </div>
    </form>
</div>
