 @import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);



 @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

 html,
 body {
   overflow: hidden;
 }

 body {
   overflow: hidden;
   margin: 0;
   padding: 0;
   background: #fff;
   color: #fff;
   font-family: Arial;
   font-size: 12px;
 }

 .body {
   overflow: hidden;
   position: fixed;
   top: -20px;
   left: -20px;
   right: -40px;
   bottom: -40px;
   width: auto;
   height: auto;
   background-image: url(../../assets/background-image-1.jpg);
   background-size: cover;
   -webkit-filter: blur(4px);
   z-index: 0;
 }

 .grad {
   position: fixed;
   top: -20px;
   left: -20px;
   right: -40px;
   bottom: -40px;
   width: auto;
   height: auto;
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
   /* Chrome,Safari4+ */
   z-index: 1;
   opacity: 0.7;
 }

 .header {
   position: absolute;
   top: calc(45% - 35px);
   left: calc(40% - 255px);
   z-index: 7;
   height: auto;
   width: 312px
 }

 .header div {
   float: left;
   color: #fff;
   font-family: 'Exo', sans-serif;
   font-size: 35px;
   font-weight: 200;
 }

 .header div span {
   color: #0c3bdc !important;
   font-weight: 400;
 }

 .login {
   position: absolute;
   top: calc(35% - 75px);
   left: calc(48% - 147px);
   padding: 10px;
   z-index: 2;
   background-color: #b9babb75;
   border-radius: 8px
 }


 .login input[type=text] {
   width: 250px;
   height: 30px;
   background: transparent;
   border: 1px solid rgba(255, 255, 255, 0.6);
   border-radius: 2px;
   color: #fff;
   font-family: 'Exo', sans-serif;
   font-size: 16px;
   font-weight: 400;
   padding: 4px;
   text-align: center
 }

 .login input[type=password] {
   width: 250px;
   height: 30px;
   background: transparent;
   border: 1px solid rgba(255, 255, 255, 0.6);
   border-radius: 2px;
   color: #fff;
   font-family: 'Exo', sans-serif;
   font-size: 16px;
   font-weight: 400;
   padding: 4px;
   margin-top: 10px;
   text-align: center
 }

 .login input[type=submit] {
   width: 250px;
   height: 35px;
   background: #fff;
   border: 1px solid #fff;
   cursor: pointer;
   border-radius: 2px;
   color: #4c3c20;
   font-family: 'Exo', sans-serif;
   font-size: 16px;
   font-weight: 400;
   padding: 6px;
   margin-top: 6px;
 }

 .login input[type=submit]:hover {
   opacity: 0.8;
 }

 .login input[type=submit]:active {
   opacity: 0.6;
 }

 .login input[type=text]:focus {
   outline: none;
   border: 1px solid rgba(255, 255, 255, 0.9);
 }

 .login input[type=password]:focus {
   outline: none;
   border: 1px solid rgba(255, 255, 255, 0.9);
 }

 .login input[type=submit]:focus {
   outline: none;
 }

 ::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.6);
 }

 ::-moz-input-placeholder {
   color: rgba(255, 255, 255, 0.6);
 }
