<div class="container-fluid body-config">
    <div class="card" style="border:none;border-radius:0px">
        <div class="card-header" style="height: auto;background-color: #f9fbfc">
            <div class="row">
                <div class="col-6">
                    <span class="float-left" style="font-size: 29px;font-weight: 500;">Strategy</span>
                </div>
                <div class="col">


                    <mat-form-field style="font-size:13px">
                        <input matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="date">
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
                        </mat-datepicker>
                    </mat-form-field>






                    <!-- <mat-form-field style="font-size:13px"> -->

                    <!-- <input matInput [matDatepicker]="dp" placeholder="Select Month" [formControl]="date" [(ngModel)]="set_date.start_time">
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
                        </mat-datepicker> -->

                    <!-- OLD -->
                    <!-- <input matInput [matDatepicker]="dp" placeholder="Select Month" [formControl]="date">
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
                        </mat-datepicker> -->
                    <!-- ./OLD -->

                    <!-- </mat-form-field> -->
                </div>
                <div class="col">
                    <mat-form-field style="font-size:13px">
                        <mat-select [(ngModel)]="cardType.intial_type" placeholder="Type">
                            <!-- <mat-option>None</mat-option> -->
                            <mat-option value="single">Single Card</mat-option>
                            <mat-option value="multi">Multi Card</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-sm btn-info" (click)="onSubmit(cardType.intial_type)"><i
              class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <div class="card-body">

                    <div class="card text-center" style="border:1px solid #cccccc; border-radius: 8px">
                        <div class="card-body background-config">
                            <div class="border-color">
                                <p class="border-config  card-text-header">Roll Forward Rate%</p>
                            </div>
                            <div style="height:auto" [hidden]="!showNoData">
                                <img src="../../assets/No data operation1.png">
                            </div>
                            <div class="row" [hidden]="showNoData">
                                <div class="col">
                                    <div id="Sutherland"></div>
                                    <p style="font-size:14px;color:#34495e;font-weight:bold"> Rank: {{rankSutherland}}</p>
                                </div>
                                <div class="col">
                                    <div id="Credit One"></div>
                                    <p style="font-size:14px;color:#34495e;font-weight:bold"> Rank: {{rankCredit}}</p>
                                </div>
                                <div class="col">
                                    <div id="iEnergizer"></div>
                                    <p style="font-size:14px;color:#34495e;font-weight:bold"> Rank: {{rankEnergizer}}</p>
                                </div>
                                <div class="col">
                                    <div id="iQOR"></div>
                                    <p style="font-size:14px;color:#34495e;font-weight:bold"> Rank: {{rankQor}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card-body">
                    <!-- Bar Chart -->
                    <div class="card text-center" style="border:1px solid #cccccc; border-radius: 8px">
                        <div class="card-body background-config">
                            <div class="border-color">
                                <p class="border-config  card-text-header">$ Collected per SOC Account</p>
                            </div>

                            <div id="dollarCollectedID" [hidden]="showNoData"></div>
                            <div class="row" [hidden]="showNoData">
                                <div class="col">
                                    Rank:{{dollarRankSutherland}}
                                </div>
                                <div class="col">
                                    Rank:{{dollarRankCredit}}
                                </div>
                                <div class="col">
                                    Rank:{{dollarRankEnergizer}}
                                </div>
                                <div class="col">
                                    Rank:{{dollarRankQor}}
                                </div>
                            </div>


                            <div style="height:auto" [hidden]="!showNoData">
                                <img src="../../assets/No data operation1.png">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card-body">

                    <div class="card text-center" style="border:1px solid #cccccc; border-radius: 8px">
                        <div class="card-body background-config">
                            <div class="border-color">
                                <p class="border-config  card-text-header">Market Share</p>
                            </div>
                            <div [hidden]="showNoData" id="marketShareID"></div>
                            <div style="height:auto" [hidden]="!showNoData">
                                <img src="../../assets/No data operation1.png">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card-body" style="margin-bottom:30px">
                    <div class="card text-center" style="border:1px solid #cccccc; border-radius: 8px">
                        <div class="card-body background-config">
                            <div class="border-color">
                                <p class="border-config  card-text-header">Consistency Achieved</p>
                            </div>

                            <div id="consistencyID" [hidden]="showNoData"></div>
                            <div style="height:auto" [hidden]="!showNoData">
                                <img src="../../assets/No data operation1.png">
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>