.body-config {
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
}

.card-text-header {
    background-color: #ffffff;
    border-bottom: 2px solid #000000;
    color: #000000;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
}

.card-border {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-nav-cards {
    margin-bottom: 0px;
    font-weight: 600;
    color: #3054a7;
}

.top-nav-card-data {
    margin-bottom: 0px;
    color: #4d728f;
}

.border-color {
    margin-bottom: 10px;
    background-position: 0px -4px, -11px 104%;
    background-repeat: no-repeat;
    background-size: 100% 4px;
}

.border-config {
    text-align: left;
    font-size: 18px;
    margin-bottom: 0.4rem;
    font-family: Trebuchet MS;
}

.background-config {
    border-radius: 8px;
    -webkit-box-shadow: 14px 7px 26px 6px rgba(184, 184, 184, 1);
    -moz-box-shadow: 14px 7px 26px 6px rgba(184, 184, 184, 1);
    box-shadow: 14px 7px 26px 6px rgba(184, 184, 184, 1);
}

.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
    display: none;
}