* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    overflow-y: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size-adjust: 0.5;
}

.topBar {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.frame {
    height: calc(100% - 60px);
    width: 100%;
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.wrapper {
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    background: #174a71;
    color: #fff;
}

.nav_footer {
    position: absolute;
    padding: 5px 5px !important;
    margin-left: 500px;
    color: #fff !important;
}