.body-config {
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
}

.glow-card {
    box-shadow: 0 0px 2px rgba(68, 70, 75, 0.2);
}

.glow-card:hover {
    box-shadow: 0 5px 12px rgba(42, 65, 105, 0.4);
}

.card-text-header {
    background-color: #ffffff;
    border-bottom: 2px solid #000000;
    color: #000000;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
}

.card-border {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-nav-cards {
    margin-bottom: 0px;
    font-weight: 600;
    color: #4d728f;
}

.top-nav-card-data {
    margin-bottom: 0px;
    color: #4d728f;
}

.border-color {
    margin-bottom: 10px;
    background-position: 0px -4px, -11px 104%;
    background-repeat: no-repeat;
    background-size: 100% 4px;
}

.border-config {
    text-align: left;
    font-size: 18px;
    margin-bottom: 0.4rem;
    font-family: Trebuchet MS;
}

.background-config {
    border-radius: 8px;
    -webkit-box-shadow: 14px 7px 26px 6px rgba(184, 184, 184, 1);
    -moz-box-shadow: 14px 7px 26px 6px rgba(184, 184, 184, 1);
    box-shadow: 14px 7px 26px 6px rgba(184, 184, 184, 1);
}

.info-box {
    display: block;
    min-height: 67px;
    border: 1px solid #eaeaea;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 38px;
    margin-bottom: 15px;
    border-bottom-left-radius: 38px;
}

.info-box-icon {
    border-radius: 36px;
    display: block;
    float: left;
    height: 67px;
    width: 69px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
}

.bg-aqua {
    background-color: #5991ba !important;
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 65px;
}

.info-box-text {
    display: block;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.col-padding {
    padding-right: 0px !important;
}

.bg-blue {
    /* background-color: #5890ba !important */
    background-color: #87bee6 !important;
}