<div class="container-fluid body-config">
    <div class="card" style="border:none;border-radius:0px">
        <div class="card-header" style="height: auto;background-color: #f9fbfc">
            <div class="row">
                <div class="col-6">
                    <span class="float-left" style="font-size: 29px;font-weight: 500;">Operation</span>
                </div>
                <div class="col">
                    <mat-form-field style="font-size:13px">
                        <input matInput [matDatepicker]="date_picker" placeholder="Date" ngDefaultControl #start_time="ngModel" [(ngModel)]="set_date.start_time">
                        <mat-datepicker-toggle matSuffix [for]="date_picker"></mat-datepicker-toggle>
                        <mat-datepicker #date_picker disabled="false"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field style="font-size:13px">
                        <mat-select [(value)]="selected" [(ngModel)]="cardType.intial_type" placeholder="Type">
                            <mat-option value="single">Single Card</mat-option>
                            <mat-option value="multi">Multi Card</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-sm btn-info" (click)="handlerChange(set_date.start_time,cardType.intial_type)"><i
              class="fa fa-search"></i></button>
                </div>
            </div>
        </div>


        <div *ngIf="showLoader=== true" class="card-body">
            <img src="../../assets/loader-2.gif" style="height:140px; width:140px">
        </div>
        <div *ngIf="showLoader=== false" class="card-body">
            <!-- Top Panel -->
            <div class="row" style="margin-bottom:30px">
                <div class="col col-padding">
                    <div class="info-box glow-card">
                        <span class="info-box-icon bg-blue">
              <img src="../../assets/dailer-download.png" style="margin-top: -34px;height: 50px;">
            </span>

                        <div class="info-box-content">
                            <span class="info-box-text top-nav-cards">Dialer Download</span>
                            <span class="info-box-number top-nav-card-data">{{dailer_download}}</span>
                        </div>
                    </div>
                </div>
                <div class="col col-padding">
                    <div class="info-box glow-card">
                        <span class="info-box-icon bg-blue">
              <img src="../../assets/call-log.png"style="margin-top: -39px;height: 40px;">
            </span>

                        <div class="info-box-content">
                            <span class="info-box-text top-nav-cards">Call Logs</span>
                            <span class="info-box-number top-nav-card-data">{{call_log}}</span>
                        </div>
                    </div>
                </div>
                <div class="col col-padding">
                    <div class="info-box glow-card">
                        <span class="info-box-icon bg-blue">
                <img src="../../assets/attempted.png"style="margin-top: -34px;height: 42px;">
            </span>
                        <div class="info-box-content">
                            <span class="info-box-text top-nav-cards">Attempted</span>
                            <span class="info-box-number top-nav-card-data">{{attempted}}</span>
                        </div>
                    </div>
                </div>
                <div class="col col-padding">
                    <div class="info-box glow-card">
                        <span class="info-box-icon bg-blue">
                <img src="../../assets/contacted-1.png"style="margin-top: -39px;height: 53px;">
            
            </span>
                        <div class="info-box-content">
                            <span class="info-box-text top-nav-cards">Contacted</span>
                            <span class="info-box-number top-nav-card-data">{{contacted}}</span>
                        </div>
                    </div>
                </div>
                <div class="col col-padding">
                    <div class="info-box glow-card">
                        <span class="info-box-icon bg-blue">
                    <img src="../../assets/penetration.png"style="margin-top: -39px;height: 53px;">
                </span>
                        <div class="info-box-content">
                            <span class="info-box-text top-nav-cards">Penetration</span>
                            <span class="info-box-number top-nav-card-data">{{penetration}}</span>
                        </div>
                    </div>
                </div>
                <div class="col col-padding">
                    <div class="info-box glow-card">
                        <span class="info-box-icon bg-blue">
                    <img src="../../assets/idle_time2.png"style="margin-top: -39px;height: 39px;">
                </span>
                        <div class="info-box-content">
                            <span class="info-box-text top-nav-cards">Idle Time</span>
                            <span class="info-box-number top-nav-card-data">{{idle}}</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <!-- Grid -->
                    <div class="card" style="margin-bottom:30px; border:1px solid #cccccc; border-radius: 8px">
                        <div class="card-body background-config">
                            <div class="border-color">
                                <p class="border-config card-text-header">Metrics</p>
                            </div>
                            <div class="table-responsive" style="height:auto">
                                <table class="table table-striped table-sm" style="width: 91%; margin-left: 48px;" *ngIf="metricsData.length>0">
                                    <thead style="font-size: 15px;">
                                        <tr>
                                            <th style="width: 300px;text-align: -webkit-left;border-top: 0px solid;" scope="col">Metrics</th>
                                            <th scope="col" style="border-top: 0px solid;">Auto</th>
                                            <th scope="col" style="border-top: 0px solid;">HCI</th>
                                            <th scope="col" style="border-top: 0px solid;">Manual</th>
                                        </tr>
                                    </thead>
                                    <tbody style="font-size: 14px;">
                                        <tr *ngFor="let j of metricsData">
                                            <td style="width: 300px;text-align: -webkit-left;">{{FormatString(j.metric)}}</td>
                                            <td>{{j.Auto}}</td>
                                            <td>{{j.HCI}}</td>
                                            <td>{{j.Manual}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div style="height: auto" *ngIf="metricsData.length==0">
                                    <img src="../../assets/No data operation1.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">

                    <!-- Bar Chart -->
                    <div class="card text-center" style="border:1px solid #cccccc; border-radius: 8px; margin-bottom: 30px">
                        <div class="card-body background-config">
                            <div class="border-color">
                                <p class="border-config  card-text-header">Urgent Payment Collected</p>
                            </div>
                            <div [hidden]="showNoData" id="barChartId"></div>
                            <div style="height:auto" [hidden]="!showNoData">
                                <img src="../../assets/No data operation1.png">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Heat Map -->
            <div class="card text-center" style="margin-bottom:30px; border:1px solid #cccccc; border-radius: 5px">
                <div class="card-body background-config">
                    <div class="border-color">
                        <p class="border-config  card-text-header">Credit One Risk Level and RPC by Time</p>
                    </div>

                    <div [hidden]="showNoData" id="heatMapChartId"></div>
                    <div style="height:auto" [hidden]="!showNoData">
                        <img src="../../assets/No data operation1.png">
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>