<mat-form-field>
    <input matInput [matDatepicker]="date_picker" placeholder="Select Date" ngDefaultControl>
    <mat-datepicker-toggle matSuffix [for]="date_picker" style="font-size:16px"></mat-datepicker-toggle>
    <mat-datepicker #date_picker disabled="false"></mat-datepicker>
  </mat-form-field>