.card-1 {
  /* padding: 10px 10px 10px 10px; */
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card-block {
  min-height: 11px;
}

.border-card-color {
  border-color: #cfcfd0 !important;
}

.table .thead-light th {
  font-weight: 500;
  font-size: 15px;
}

.table-responsive {
  margin-top: 34px;
  border: lightslategrey
}

.account-details-text {
  color: rgb(139, 137, 137);
  font-weight: 500
}

.thead-config {
  background-color: #f3f3f3;
  color: #7d7d7c;
  font-size: 13px;
}
