<div class="container-fluid" style="padding-right: 0px;padding-left: 0px;">
    <div class="card" style="border:none;border-radius:0px">

        <div class="card-header" style="height: 100px;background-color: #f9fbfc">
            <h4 style="text-align:left;margin-top:15px;margin-left: 7px;">Customer Details <img src="../../assets/back.png" (click)=back() style="height:27px; width:32px;float: right;cursor: pointer;" class="text-right"></h4>
        </div>
        <div class="card-body">
            <div class="card card-1 col-11 text-md-center" id="card1" style="height: auto;background-color: #f9fbfc;margin-top: 20px;">
                <div class="card-body">
                    <h5 class="card-title text-left" style="color:#5680cc;margin-bottom: 18px;">Phone Number: {{phone_number}}
                    </h5>
                    <h6 class="card-title text-left" style="color:#62656b; margin-bottom:20px">Account Details:</h6>
                    <div class="container-fluid">
                        <div class="border border-card-color" style="background-color:#f3f3f3;border-radius: 10px;">
                            <div class="row" style="margin-top:6px">
                                <div class="col-sm-4" style="background-color:transparent;"><b class="account-details-text">Name: </b> {{customer_name}}
                                </div>
                                <div class="col-sm-4" style="background-color:transparent;"><b class="account-details-text">Card Id:</b> {{card_id}}
                                </div>
                                <div class="col-sm-4" style="background-color:transparent;"><b class="account-details-text">Credit A/C
                    Id:</b> {{credit_account_id}}</div>
                            </div>
                            <div class="row" style="margin-top:20px;margin-bottom:6px">
                                <div class="col-sm-4" style="background-color:transparent;"><b class="account-details-text">Day(s)
                    Delinquent:</b> {{days_deliquent}}</div>
                                <div class="col-sm-4" style="background-color:transparent;"><b class="account-details-text">Balance:</b> ${{balance}}
                                </div>
                                <div class="col-sm-4" style="background-color:transparent;"><b class="account-details-text">Last
                    Contacted:</b> {{last_attempt}}</div>
                            </div>
                        </div>

                        <div class="table-responsive" style="height:300px">
                            <table class="table" style="overflow:auto;">
                                <thead class="thead-config">
                                    <tr>
                                        <th scope="col">Agent Name</th>
                                        <th scope="col">Last Attempts</th>
                                        <th scope="col">Contacted</th>
                                        <th scope="col">Duration(s)</th>
                                        <th scope="col">Outcome</th>
                                    </tr>
                                </thead>
                                <tbody style="background-color:rgb(248, 248, 248)">
                                    <tr *ngFor="let j of customerDetailData">
                                        <td>{{j.AGENT_NAME}}</td>
                                        <td>{{j.LAST_ATTEMPT }}</td>
                                        <td *ngIf="j.DURATION == 0">N</td>
                                        <td *ngIf="j.DURATION > 0">Y</td>
                                        <td>{{j.DURATION}}</td>
                                        <td>{{j.DISPOSITION}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>